body{
      margin-top: 100px;
      font-family: 'Trebuchet MS', serif;
      line-height: 1.6
    }
    .container{
      width: 800px;
      margin: 0 auto;
    }

#tab-1 img, #tab-2 img {
  width:760px;
  height:500px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

p{
 font-size:18px; 
margin-bottom:15px
 
} 

h2{
  text-align: center;
  font-size:24px;
  font-weight:bold;
}

#tab-5 h2 {
  
}
